body{
    font-size: .9rem;
}

.my_header{
    width: 100%;
    background-color: #f8f9fa;
    height: 70px;
}

.my_main-side{
    height: calc(100vh - 70px);
    width: calc(100% - 70px);
}

.my_mobile-logo{
    width: 50px;
    height: 50px;
}

.my_class-logo{
    width: 25px;
    height: 25px;
}

.my_upper-main{
    background-color: #1b72e8;
}

.my_blue-pillow{
    background-color: #165bba;
}

.my_upper-btn{
    border: 1px solid white;
    width: 40px;
    height: 40px;
}

section.my_sidebar{
    background: url("/img/sidebar-bg.png");
    background-color: #051e34;
    height: calc(100vh - 70px);
    width: 70px;
}

#offcanvasRight{
    width: 500px;
}

.my_trash-icon,
.my_pen-icon{
    padding: .4rem;
    border: 1px solid #6c757d;
    border-radius: 8px;
}


@media screen and (min-width: 768px ){
    .my_main-side{
        width: calc(100% - 110px);
    }

    section.my_sidebar{
        width: 110px;
    }


}






/*Small 	sm 	≥576px
Medium 	md 	≥768px
Large 	lg 	≥992px*/