body{
    font-size: .9rem;
}

.my_header{
    height: 85px;
    width: 100%;
    background-color: #f8f9fa;
}

.my_main-side{
    height: calc(100vh - 85px);
}

.my_class-logo{
    width: 25px;
    height: 25px;
}

.my_upper-main{
    background-color: #1b72e8;
    height: 200px;
}

div.my_sidebar{
    background-image: url("/img/sidebar-bg.png");
    background-color: blue;
    height: calc(100vh - 85px);
}





/*Small 	sm 	≥576px
Medium 	md 	≥768px
Large 	lg 	≥992px*/