.my_header{
    height: 85px;
    width: 100%;
    background-color: #f8f9fa;
}


div.my_sidebar{
    background-image: url("/img/sidebar-bg.png");
    background-color: blue;
    height: calc(100vh - 85px);;
}

.my_main-side{
    background-color: aqua;
    height: calc(100vh - 85px);
}


/*Small 	sm 	≥576px
Medium 	md 	≥768px
Large 	lg 	≥992px*/